.tabs {
    .tab{
        &.deposite{
            background-color:green;
            color:black !important;
        }
        &.withdraw{
            background-color:red;
            color:black !important;
        }
        &a{
            color:black;
        }
        &.active{
            background-color: blue;
            color:black;
        }
        &:hover{
            color:black;

        }
    }
} 

// .tabs .tab a:hover, .tabs .tab a.active