@import "../../variables.style.scss";

.card-wrapper {
  .card-content {
    height: 150px;
    color: black;
    font-weight: 400;
    .card-title {
      color: black;
      font-weight: 500;
    }
  }
  .card-footer {
    height: 10%;
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(230, 198, 198);
  }
}
