.container{
    width: 85% !important;
}

body{
    font-family: 'Play', sans-serif;
}
button{
    font-family: 'Play', sans-serif !important;
}
h1,h2,h3,h4,h5,h6 {
    // font-weight: bold;
    font-family: 'Russo One', sans-serif;
    font-weight: 400 !important;
}