.admin {
    margin-top: 25px;
    .link{
        cursor: pointer;
        margin: 10px 10px;
    }
    &-category {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(228, 222, 222);
        padding: 24px;
        border-radius: 12px;
        position: relative;
        flex-wrap: wrap;

        .trasaction-table {
            margin: 0;
            width: 100%;
        }

        &::before {
            content: "Category";
            position: absolute;
            top: -14px;
            z-index: 10;
            background-color: white;
            font-size: 20px;
            font-weight: bold;
            left: 40%;
        }

        .single-select {
            margin: 0 10px;

            .select__control {
                width: 400px;
            }
        }

        .inputCategory {
            width: 60%;
        }
    }
}